tqdm
langchain
langchain_community
langchain_experimental
langchain_huggingface
sentence-transformers
unstructured
faiss_cpu
tree-sitter
tree-sitter-typescript
tree-sitter-javascript
tree-sitter-python
tree-sitter-html
